body {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	background-color: #fbf8ef;
}

/* Стартовая (левая) панель */
.start-panel {
	width: 40%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: space-around;
}
	.logo__container {
		width: 100%;
	}
		.logo__content {
			width: 100%;
		}
	.start-game {
		width: 50%;
		padding: 2%;
		margin: 0 auto;
		color: #fff;
		background-color: #bbada0;
		border-radius: 2%;
		border: 3px solid #fff;
		font-size: 32px;
		-webkit-transition: 1s;
		-o-transition: 1s;
		transition: 1s;
	}
	.start-game:hover {
		color: #bbada0;
		background-color: #d6cdc4;
		border: 3px solid #bbada0;
		-webkit-transition: 1s;
		-o-transition: 1s;
		transition: 1s;
	}
/* Игровое поле */
.container {
	width: 45%;
}
	.container__wrapper {
		overflow: hidden;
		position: relative;
		width: 100%;
		padding-bottom: 100%; // пропорции блока определяются здесь
	}
		.container__content {
			position: absolute;
			top: 0;
			left: -0.5px;
			padding: 1%;
			min-width: 98%;
			min-height: 98%;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-webkit-flex-wrap: wrap;
			-moz-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			-o-flex-wrap: wrap;
			flex-wrap: wrap;
			background-color: #b7ab9d;
			justify-content: space-between;
			align-content: stretch;
		}
		/* Элементы игрового поля */
			.element {
				position: relative;
				flex-basis: 23%;
				background-color: #d6cdc4;
				border-radius: 5%;
				margin: 1%;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				color: #fff;
				justify-content: center;
				-ms-align-items: center;
				align-items: center;
				font-size: 300%;
				font-weight: bold;
				transform: translateX(0%);
				transform: translateY(0%);
			}
				.element[data-number="2"],
				.element[data-number="4"] {
					color: #797067;
				}
				.element[data-number="2"] {
					background-color: #eee4da;
				}
				.element[data-number="4"] {
					background-color: #ece0c8;
				}
				.element[data-number="8"] {
					background-color: #f2b179;
				}
				.element[data-number="16"] {
					background-color: #f59563;
				}
				.element[data-number="32"] {
					background-color: #f57c5f;
				}
				.element[data-number="64"] {
					background-color: #f65d3b;
				}
				.element[data-number="128"] {
					background-color: #eacf76;
				}
				.element[data-number="256"] {
					background-color: #edcb67;
				}
				.element[data-number="512"] {
					background-color: #ecc850;
				}
				.element[data-number="1024"] {
					background-color: #e7c258;
				}
				.element[data-number="2048"] {
					background-color: #e8be4e;
				}
				.element[data-anim="right"].animate {
					transform: translateX(108%);
					transition-property: transform;
  				transition-duration: 0.5s;
				}
				.element[data-anim="right-2x"].animate {
					transform: translateX(217%);
					transition-property: transform;
  				transition-duration: 0.5s;
				}
				.element[data-anim="right-4x"].animate {
					transform: translateX(326%);
					transition-property: transform;
  				transition-duration: 0.5s;
				}
				.element[data-anim="left"].animate {
					transform: translateX(-108%);
					transition-property: transform;
  				transition-duration: 0.5s;
				}
				.element[data-anim="left-2x"].animate {
					transform: translateX(-217%);
					transition-property: transform;
  				transition-duration: 0.5s;
				}
				.element[data-anim="left-4x"].animate {
					transform: translateX(-326%);
					transition-property: transform;
  				transition-duration: 0.5s;
				}
				.element[data-anim="up"].animate {
					transform: translateY(-108%);
					transition-property: transform;
  				transition-duration: 0.5s;
				}
				.element[data-anim="up-2x"].animate {
					transform: translateY(-217%);
					transition-property: transform;
  				transition-duration: 0.5s;
				}
				.element[data-anim="up-4x"].animate {
					transform: translateY(-326%);
					transition-property: transform;
  				transition-duration: 0.5s;
				}
				.element[data-anim="down"].animate {
					transform: translateY(108%);
					transition-property: transform;
  				transition-duration: 0.5s;
				}
				.element[data-anim="down-2x"].animate {
					transform: translateY(217%);
					transition-property: transform;
  				transition-duration: 0.5s;
				}
				.element[data-anim="down-4x"].animate {
					transform: translateY(326%);
					transition-property: transform;
  				transition-duration: 0.5s;
				}

				@keyframes eat {       
    			0% {
    				flex-basis: 23%;
    				margin: 1%;
    			}             
    			50% { 
    				flex-basis: 25%;
    				margin: 0%;
    			} 
  				100% {
    				flex-basis: 23%;
    				margin: 1%;
  				}
  			}

				.element[data-anim="eats"].animate {
					-webkit-animation: eat 0.5s 0.1s;
					-o-animation: eat 0.5s 0.1s;
					animation: eat 0.5s 0.1s;
					transition-property: animation;
  				z-index: 999;
				}

				@keyframes x {       
    			0% {
    				flex-basis: 11%;
    				margin: 0% 7%; 
    				opacity: 0;
    				font-size: 0%;
    			}
  				100% {
    				flex-basis: 23%;
    				margin: 1%;
    				opacity: 1;
    				font-size: 300%;
  				}
  			}

  			.element[data-anim="generation"].animate {
					-webkit-animation: x 0.5s;
					-o-animation: x 0.5s;
					animation: x 0.5s;
					transition-property: animation;
  				z-index: 999;
				}

@media all and (max-device-width: 1024px) {
	.element {
		font-size: 200%;
	}
}

@media all and (min-device-width: 2560px) {
	.element {
		font-size: 500%;
	}
}